/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}
#left {
  width: 33.3%;
  color: white;
  background: #666;
  float: left;
}

#middle {
  width: 33.3%;
  color: white;
  background: #888;
  float: left;

}

#right {
  width: 33.3%;
  color: white;
  background: #666;
  float: left;
}

/* ToDo:
/* need to float aside and division inside of full (text is <section> #666);
   adjusting height, padding, margin, align */
/* need to use clear appropriately */
/* refer to readme that accompanies the exercise for elements to be used*/

#full {
  width: 100%;
  background: #eee;
  clear: both;
  overflow: auto;
}

#division {
  margin-top: 20px;
  padding: 20px;
  background: #6ea3da;
}

aside {
  width: 33%;
  height: 200px;
  margin-left: 30px;
  padding: 20px;
  color: #333;
  background: #fff;
  float: left;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  clear: both;
}
